*{
    margin: 0;   padding: 0;  box-sizing: border-box;
  }
  
  .box{
    background: orange;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    
    /*border: ancho style color*/
    
    border: 10px dashed black;
    
    border-width: 10px;
    border-style:solid dashed dotted groove;
    border-color:brown;
    /*
    border-top-color: red;
    border-top-style: solid;
    border-top-width: 10px;
    
    border-right-color: yellow;
    border-right-style: dashed;
    border-right-width: 15px;
    
    border-bottom-color: white;
    border-bottom-style: dotted;
    border-bottom-width: 20px;
    
    border-left-color: black;
    border-left-style: groove;
    border-left-width: 25px;
    */
  }