*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  .header{
    height:400px;
    background:red;
    color:white;
  }
  
  .header{
    color:blue;
  }
  header>h2.title#title{
    font-size:40px;
  }
  
  .title{
    font-size:15px;
    color:white;
  }
  
  .copy{
    color:black;
  }
  
  /*prioridades
  1000- en linea
  100 - id
  10  - clases, atributos
  1   - etiquetas
  */