/*selectores combinados*/
h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

nav.contenedor{
    text-decoration:underline;
}

/*selectores descendientes*/
.contenedor p {/*contenido en ... (dentro)*/
    font-size: 10px;
}

.contenedor>p {/*primer hijo*/
    font-family: 'Times New Roman', Times, serif;
    color:coral;
}

/*examen*/
.contenedor a{
    text-decoration: none;
    color:green;
}

.titulo{
    border:10px double red;
}
/*examen*/